@charset "utf-8";
/*
* {
    padding: 0;
    margin: 0;
}
body {
    --line-of-chars:40;
    font-size: calc(100vw / (var(--line-of-chars)));
}
*/
:root { --writing-mode:horizontal-tb; }
body { writing-mode:var(--writing-mode); }
img.icon {
    width: 1em;
    height: 1em;
}
footer {
    text-align:center;
}
