@charset "utf-8";
.solo-icon {
  width: 32px; height: 32px;
  /*width: var(--font-size); height: var(--font-size);*/
  margin:0; padding:0;
  clear: both;
}
/* Spinner Circle Rotation */
.loading-icon-circle {
  border: 4px rgba(#000, 0.25) solid;
  border-top: 4px rgba(#000, 1) solid;
    /*
  border: calc(var(--font-size)/8) rgba(#000, 0.25) solid;
  border-top: calc(var(--font-size)/8) rgba(#000, 1) solid;
  */

  border-radius: 50%;
  -webkit-animation: spCircRot .6s infinite linear;
  animation: spCircRot .6s infinite linear;
}
@-webkit-keyframes spCircRot {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(359deg); }
}
@keyframes spCircRot {
  from { transform: rotate(0deg); }
  to { transform: rotate(359deg); }
}

