@charset "utf-8";
:root {
    --grid-cols: 1;
    --grid-rows: 1;
    --grid-inline: 100%;
    --grid-block: 100%;
    --grid-gap: 10px;
    --inner-block-size: 100%;
    --inner-inline-size: 100%;
    --inner-padding: 0px;
    --splitter-block-size: 100%;
    --splitter-inline-size: 100%;
    --font-size: 16px;
    --letter-spacing: 0.05em;
    --line-height: 1.7em;
    --writing-mode: holizontal-tb; /* vertical-rl */
    --text-orientation: mixed; /* upright */
    --text-decoration: underline; /* overline */
    --splitter-writing-mode: vertical-rl;
    --splitter-text-orientation: upright; /* mixed */
    --splitter-text-decoration: overline; /* underline */
    --title-font-family: 'IPAゴシック';
    --body-font-family: 'IPA明朝';
    --background-color: #FFFFFF;
}
body {
    margin:0; padding:0;
    overflow-x: hidden;
    overflow-y: hidden;
    writing-mode: var(--writing-mode);
    text-orientation: var(--text-orientation);
    font-family: var(--body-font-family);
    background-color: var(--background-color);
}
h1,h2,h3,h4,h5,h6 {
    font-family: var(--title-font-family);
    letter-spacing: 0em;
    line-height: 1em;
}
#screen, #dummy-screen {
    display: grid;
    grid-template-columns: var(--grid-template-columns); /* 1fr または 1fr var(--font-size) 1fr*/
    grid-template-rows: var(--grid-template-rows); /* block-size px */
    grid-gap: 0px;
    inline-size: var(--screen-inline-size);
    block-size: var(--screen-block-size);
    font-size: var(--font-size);
    letter-spacing: var(--letter-spacing);
    line-height: var(--line-height);
    margin:0; padding:0;
}
#dummy-screen {
    position: absolute; top: 0px; left: 0px;
    visibility: hidden; /*visible,hidden*/
    background-color: #FFFF00;
}
.inner-screen {
    margin:0; padding:0;
    writing-mode: var(--writing-mode);
    text-orientation: var(--text-orientation);
    padding: var(--inner-padding);
}
.splitter {
    writing-mode: var(--splitter-writing-mode);
    text-orientation: var(--splitter-text-orientation);
    margin:0; padding:0;
    background-color: #FFCCFF;
    font-size: max(12px, calc(var(--font-size)*0.75));
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-combine { /* 縦中横 */
    text-combine-upright: all;
    -ms-text-combine-horizontal: all;
    -webkit-text-combine: horizontal;
}
.inner-screen:nth-child(1n) { background-color: #FFCCCC; }
.inner-screen:nth-child(2n) { background-color: #CCFFCC; }
.inner-screen:nth-child(3n) { background-color: #CCCCFF; }
a {
    text-decoration: var(--splitter-text-decoration);
}

